@model IEnumerable<Models.Models.Vogel>

@{
    ViewBag.Title = "VogelIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VogelIndex</h2>

<p>
    @Html.ActionLink("Create New", "CreateVogel")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BroedperiodeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BroedperiodeEinde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Broedpaar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BroedperiodeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BroedperiodeEinde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Broedpaar)
        </td>
        <td>
            @Html.ActionLink("Bewerk", "EditVogel", new { id=item.Id }) |
            @Html.ActionLink("Verwijder", "DeleteVogel", new { id=item.Id })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("terug", "DierKeuze")
</p>
