@model IEnumerable<Models.Models.Zoogdier>

@{
    ViewBag.Title = "ZoogdierIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ZoogdierIndex</h2>

<p>
    @Html.ActionLink("Create New", "CreateZoogdier")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Familie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Familie)
        </td>
        <td>
            @Html.ActionLink("Bewerk", "EditZoogdier", new { id=item.Id }) |
            @Html.ActionLink("Verwijder", "DeleteZoogdier", new { id=item.Id })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("terug", "DierKeuze")
</p>
